/* This is the scss style file for the page "create new account" */
*{
    box-sizing: border-box;
}


.cna-box{
    width: 5.5rem;
    // height: 5.5rem;
    background-color: #fff;
    padding: 0.5rem 0.75rem;
    padding-bottom: 0.9em;
    border-radius: 0.12rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title{
        flex-grow: 1;
        font-size: 0.3rem;
        text-align: center;
        // margin-bottom: 0.18rem;
    }

    .inputs {
        height: 3rem;
        margin-top: 0.3rem;
        margin-bottom: 0.5rem;

        flex-grow: 5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        %inputs-common{
            font-size: 0.18em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // align-items: stretch;
            // padding: 0 2em;
        }

        > div {
            @extend %inputs-common;

            :first-child{
                font-size: 0.16rem;
                margin-bottom: 0.08rem; 
            }

            input {
                padding: 0 0.2rem;
                align-self: center;
                width: 100%;
                border-radius: 15px;
                border: 1px solid #d3d3d3;
                outline: none;
                height: 0.5rem;
                font-size: 1em;
                vertical-align: middle;
            }
        }

        &-confirm-button {
            display: block;
            font-size: 0.2em;
            width: 100%;
            height: 0.5rem;
            margin: 0 auto;
            border: none;
            border-radius: 10px;
            // padding: 0.8em;
            background: #1877f2;
            color: #fff;
            font-weight: 600;
            // box-sizing: content-box;
            // line-height: 0;
            // letter-spacing: 0;
        }
    }
    
    .signin_prompt {
        font-size: 0.15em;
        margin-top: 0.08rem;
        
        :first-child{
            margin-right: 0.1rem;
        }

        a{
            text-decoration: none;
            color: #4d8bff;
        }
    }
}